
header{
    left:100px;
    z-index:1;
    position:fixed;
    top:0px;
    left:0px;
    background-color:black;

}
body{
    background-color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    position:fixed;
    top:0px;
    left:300px;
    
    color:orangered;
    border:8px solid black;
    border-radius:20px;
    padding:8px 12px;
    background-color:powderblue;
    text-align:center;
    display:inline-block;
    text-shadow:3px 3px lightgreen;
    
    
}
.banner{
    position:relative;
}
.banner img{
    display:block;
    width:100%;
    border:6px dotted blue;
    
    border-radius:4px 6px;
    padding:4px 6px;

}
.banner h2{
    text-align:center;
    color:rgb(84, 25, 202);
    background-color:palegreen;
    font-style: italic;
    padding:6px 8px;
    border-radius:6px 8px;
    border:4px solid lightpink;
    text-shadow:4px 4px crimson;
}
.banner h2 span{
    font-size:x-large;
}
nav{
    background-image:url("borders.jpg");
    padding:20px;
    border:4px solid lightpink;
    border-radius:4px 6px;
    position:sticky;
    top:0px;
}
nav ul{
    white-space:nowrap;
    max-width:1200px;
    margin:0 auto;
}
nav li{
    width:25%;
    display:inline-block;
    font-size:24px;
}
nav li a{
    text-decoration:black;
    color:black;
    text-shadow:4px px lightpink
}
nav li a.join{
    color:lightgreen;
}
.start{
    color:rebeccapurple;
    background-color:lightpink;
    line-height:8mm;
    padding:60px 20px;
    font-size:20px;
}
.start h2{
    color:red;
    text-align:center;
}
.join{
    background-color:black;
    color:orange;
    text-align:align;
    font-size:24px;
}
.join h2{
    font-size:36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.images{
    text-align:center;
    margin:80px 0px;
    white-space:nowrap;
}
.images li{
    display:inline-block;
    width:40%;
    margin:20px 5%;

}
.img li img{
    max-width:100%;
}
.img{
    text-align:center;
    margin:80px 0px;
    white-space:nowrap;
}
.img li{
    display:inline-block;
    width:40%;
    margin:20px 5%;

}
.img li img{
    max-width:100%;
    border:8px solid lime;
}

form{
    margin:0px;
    padding:0px;
    color:red;
    text-align:center;
    background-image:url("fill the from png.png");
}

